<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|PT+Serif" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




</head>

<body>
  <form  action="/search" method="POST">
  <div class="jumbotron">
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
          <input type="text" placeholder="Search For registered Users" class="form-control" name="fname">
          <br>
          <button type="submit" class="btn btn-warning">Search</button>
      </div>
    </div>

  </div>
</form>


 <div class="col-sm-12 text-center">
    <h2><%=Data.fname %> <%=Data.Lname %></h2>
</div>


</body>
</html>
