<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Noto+Serif|PT+Serif" rel="stylesheet"></head>

<style>
body {
  font-family: 'Noto Serif', serif;
}
</style>


<body>
  <form>
  <div class="jumbotron">
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
          <input type="text" placeholder="Search For registered Users" class="form-control" name="fname">
          <br>
          <button type="submit" class="btn btn-warning">Search</button>
      </div>
    </div>

  </div>
</form>

<!-- <h2 class="text-center"><%=Fname %> Found </h2> -->

</body>
</html>
